footer{
    margin: 10px;
    padding: 10px;
    text-align: center;
}

header{
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 50px;
    font-size: 40px;
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-weight: bold;
    background: black;
    color: white;
}
header a:link {
    text-decoration: inherit;
}

header a {
    color: white;
}

header a:hover {
    color: red;
}

article{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#game_board {
    text-align: center;
    margin: 0 auto;
    display: table;
    padding: 1em;
}

td{
    border: 1px solid black;
    margin: 0px auto;
    padding: 1px;
    width: 150px;
    height: 150px;
    text-align:center;
    vertical-align:middle;
}

td:hover{
    background: black;
    color: white;
}

.bottom_menu{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
    border-top: 1px solid black;
    display: block;
    text-align: center;
}

.bottom_menu a{
    text-decoration: none;
    background: black;
    color: white;
    padding: 10px;
    margin-top: 20px;
}

a:hover{
    background: lightgrey;
    color: black;
}

td i{
    font-size: 4em;
    color:black;
}

td:hover i{
    color: white;
}

#scores{
    display: block;
    text-align: center;
    border-top: 1px solid black;
    padding: 0.5em;
}

.resolved {
    background: #f6da17;
}