{% extends "layout.html" %}
{% block content %}
{% set X = request.form.get('X')|int %}
{% set Y =  request.form.get('Y')|int %}
<script type="text/javascript">
    window.onload = function loadTable() {
        setColumns( '{{X}}' );
        setRows( '{{Y}}' )
        gameView(generateBoard());
    }
</script>

<div id="game_board">
    <table id="game_table"></table>
</div>
<div id="scores"></div>

<div class="bottom_menu">
    <a href="{{ url_for('index') }}">
        GO HOME
    </a>
</div>
{% endblock %}