{% extends "layout.html" %}
{% block content %}
<form name="memory" action="{{ url_for('game') }}" method="post">
    <label>X: </label>
    <select name="X">
        {% for i in range(2, 9, 2) %}
        <option value="{{ i }}">{{i}}</option>
        {% endfor %}
    </select><br>
    <label>Y: </label>
    <select name="Y">
        {% for i in range(2, 9, 2) %}
        <option value="{{ i }}">{{i}}</option>
        {% endfor %}
    </select><br>
    <button class="button game-start">PLAY</button>
    <!--<input type="submit" name="play_game" value="PLAY">-->
</form>
{% endblock %}